[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "specmine.datasets"]
	path = specmine.datasets
	url = https://github.com/pedrofontao/specmine.datasets
